数値や文字列を色々な方法で出力する

In [1]:

x = 1000
y = 20
z = 1000000

# 通常の表示
print(x)
print(y)
print(z)

# 数値を右揃えにする
print("{:>10}".format(x))
print("{:>10}".format(y))
print("{:>10}".format(z))

# 数値を3桁でカンマ区切りにする
print("{:,}".format(x))
print("{:,}".format(y))
print("{:,}".format(z))

# 数値を3桁でカンマ区切りで右揃えにする
print("{:>10,}".format(x))
print("{:>10,}".format(y))
print("{:>10,}".format(z))

# 円記号をつける
print("合計{:>10,}円".format(x))
print("合計{:>10,}円".format(y))
print("合計{:>10,}円".format(z))

1000
20
1000000
      1000
        20
   1000000
1,000
20
1,000,000
     1,000
        20
 1,000,000
合計     1,000円
合計        20円
合計 1,000,000円

In [10]:
a = 1234.5678
b = 9876.5432

# 通常の表示
print(a)
print(b)

# 小数点以下2桁まで表示する
print("{:.2f}".format(a))
print("{:.2f}".format(b))

# 整数部を表示
print("{:d}".format(int(a)))
print("{:d}".format(int(b)))

# 数値を3桁でカンマ区切りにする
print("{:,}".format(a))
print("{:,}".format(b))

# 数値を3桁でカンマ区切りで小数点以下2桁まで表示する
print("{:,.2f}".format(a))
print("{:,.2f}".format(b))

# 数値をパーセント表示する
print("{:.2%}".format(a / 10000))
print("{:.2%}".format(b / 10000))

1234.5678
9876.5432
1234.57
9876.54
1234
9876
1,234.5678
9,876.5432
1,234.57
9,876.54
12.35%
98.77%

In [12]:
# これは指定できる？
print("{:.2f,}".format(a))
print("{:.2f,}".format(b))

ValueError: Invalid format specifier

文字列をいろいろな形式で表示する

In [18]:
name1 = "Masuda Tomoaki"
name2 = "Yamada Taro"
name3 = "Sato Jiro"

# 通常の表示
print(name1)
print(name2)
print(name3)

# 先頭に "名前:" をつける
print("名前:{}".format(name1))
print("名前:{}".format(name2))
print("名前:{}".format(name3))

# 右揃えで表示する
print("{:>20}".format(name1))
print("{:>20}".format(name2))
print("{:>20}".format(name3))

# 先頭の5文字だけを表示する
print("'{:.5}'".format(name1))
print("'{:.5}'".format(name2))
print("'{:.5}'".format(name3))


name1 = "Masuda Tomoaki"
name2 = "Yamada Taro   "
name3 = "Sato Jiro     "


# 前後の空白を削除する
print(name1.strip())
print(name2.strip())
print(name3.strip())

# 前後にシングルクォートをつける
print("'{}'".format(name1.strip()))
print("'{}'".format(name2.strip()))
print("'{}'".format(name3.strip()))

# 空白を '*' で埋める
print(name1.replace(" ", "*"))
print(name2.replace(" ", "*"))
print(name3.replace(" ", "*"))

Masuda Tomoaki
Yamada Taro
Sato Jiro
名前:Masuda Tomoaki
名前:Yamada Taro
名前:Sato Jiro
      Masuda Tomoaki
         Yamada Taro
           Sato Jiro
'Masud'
'Yamad'
'Sato '
Masuda Tomoaki
Yamada Taro
Sato Jiro
'Masuda Tomoaki'
'Yamada Taro'
'Sato Jiro'
Masuda*Tomoaki
Yamada*Taro***
Sato*Jiro*****

In [17]:
name1 = "😸🐶😸🐶😸🐶😸🐶😸🐶😸🐶"
print("'{:.5}'".format(name1))

'😸🐶😸🐶😸'

In [4]:
a = 1234.5678
b = 9876.5432
# formatメソッドに2つの変数を渡す
formatted_string = "a: {:.2f}, b: {:.2f}".format(a, b)
print(formatted_string)

name = "Yamada"
age = 18
# formatメソッドに文字列と数値を渡す
formatted_string = "名前は{}, 年齢は{}".format(name, age)
print(formatted_string)

a: 1234.57, b: 9876.54
名前はYamada, 年齢は18

In [19]:
name = "Yamada"
age = 18
# formatメソッドに文字列と数値を渡す
formatted_string = "名前は{}, 年齢は{}, 余分{}".format(name, age)
print(formatted_string)

IndexError: Replacement index 2 out of range for positional args tuple