文字列から数値を取得する
- 文字列から数値の読み込み
- 指数表現からの読み込み
- カンマ区切りの金額を読み込み
- カンマ区切りのCSV形式から読み込み

In [5]:
s = "10000"

# 文字列で表示
print(s)
# 数値に変換して表示
x = int(s)
print(x)

s = "123.456"

# 文字列で表示
print(s)
# 数値に変換して表示
x = float(s)
print(x)

# 指数表現の場合
s = "1.23e4"
# 文字列で表示
print(s)
# 数値に変換して表示
x = float(s)
print(x)

# 16進数の場合
s = "FF"
# 文字列で表示
print(s)
# 数値に変換して表示
x = int(s, 16)
print(x)

# 金額の読み込み
s = "￥1,000"
# 文字列で表示
print(s)
# 数値に変換して表示
x = int(s[1:].replace(",", ""))
print(x)

10000
10000
123.456
123.456
1.23e4
12300.0
FF
255
￥1,000
1000

In [1]:
s = "123.456"
# 文字列で表示
print(s)
# 数値に変換して表示
x = int(s)
print(x)

123.456

ValueError: invalid literal for int() with base 10: '123.456'

In [3]:
s = "123.01234567890123456789"
# 文字列で表示
print(s)
# 数値に変換して表示
x = float(s)
print(x)

123.01234567890123456789
123.01234567890124

In [9]:
s = "11"
# 文字列で表示
print(s)
# 数値に変換して表示
x = int(s, 13)
print(x)

11
3

In [12]:
# 金額の読み込み
s = "￥1,000"
# 文字列で表示
print(s)
# 数値に変換して表示
s1 = s[1:]
print(s1)
s2 = s1.replace(",", "")
print(s2)
x = int(s2)
print(x)

￥1,000
1,000
1000
1000

In [16]:
# カンマ区切りの文字列から数値を取り出す
s = "100,200,300"
# 文字列で表示
print(s)
# 数値に変換して表示
x, y, z = map(int, s.split(","))
print(x, y, z)

# カンマ区切りの文字列から数値を取り出す
# 数値はダブルクォーテーションで囲まれている
s = '''
"100","200","300"
'''
# 文字列で表示
print(s)
# 数値に変換して表示
x, y, z = map(str, s.split(","))
x = int(x.replace('"', ''))
y = int(y.replace('"', ''))
z = int(z.replace('"', ''))

print(x, y, z)

100,200,300
100 200 300

"100","200","300"

100 200 300

In [32]:
# カンマ区切りの文字列から数値を取り出す
s = "100,200,300"
# 文字列で表示
print(s)
# 数値に変換して表示
s1 = s.split(",")
print(s1)
s2 = map(int, s1)
print(s2)
x, y, z = s2
print(x, y, z)

100,200,300
['100', '200', '300']
<map object at 0x000001DB07DDA190>
100 200 300

In [33]:
# カンマ区切りの文字列から数値を取り出す
s = "100,200,300"
# 文字列で表示
print(s)
# 数値に変換して表示
s1 = s.split(",")
print(s1)
x = int(s1[0])
y = int(s1[1])
z = int(s1[2])
print(x, y, z)

100,200,300
['100', '200', '300']
100 200 300

In [34]:
# カンマ区切りの文字列から数値を取り出す
# 数値はダブルクォーテーションで囲まれている
s = '''
"100","200","300"
'''
# 文字列で表示
print(s)
# 数値に変換して表示
x, y, z = map(str, s.split(","))
x = int(x.replace('"', ''))
y = int(y.replace('"', ''))
z = int(z.replace('"', ''))

print(x, y, z)

"100","200","300"

100 200 300

In [37]:
# カンマ区切りの文字列から数値や文字列を取り出す
s = "1,Masuda,55,Tokyo"
# 文字列で表示
print(s)
( id, name, age, address ) = s.split(",")
id = int(id)
age = int(age)
print(id, name, age, address)

1,Masuda,55,Tokyo
1 Masuda 55 Tokyo

In [42]:
# 複数行を処理する
s = '''
1,Masuda,55,Tokyo
2,Kimura,49,Kanagawa
3,Tanaka,35,Saitama
4,Sakamoto,22,Chiba
'''
# 改行で分割
lines = s.strip().split("\n")
# 行ごとに処理
for line in lines:
    # カンマで分割
    ( id, name, age, address ) = line.split(",")
    id = int(id)
    age = int(age)
    print(id, name, age, address)

1 Masuda 55 Tokyo
2 Kimura 49 Kanagawa
3 Tanaka 35 Saitama
4 Sakamoto 22 Chiba