In [13]:
import pandas as pd

# Read the Excel file
df = pd.read_excel('./sample.xlsx', sheet_name='Sheet1')

# age が 20 以下のデータだけ表示
for index, row in df.iterrows():
    if row['age'] <= 20:
        print(row['id'], row['name'], row['age'])

4 yoshida 20
5 aoi 10

In [15]:
import pandas as pd

# Read the Excel file
df = pd.read_excel('./sample.xlsx', sheet_name='Sheet1')

# age が 20 以下のデータだけ表示
df = df.query('age <= 20')
print(df)

   id     name  age   address
3   4  yoshida   20     osaka
4   5      aoi   10  hokkaido

In [20]:
import pandas as pd

# Read the Excel file
df = pd.read_excel('./sample.xlsx', sheet_name='Sheet1')

# address が 'Tokyo' のデータだけ表示
df = df.query("address == 'tokyo'")
print(df)

   id    name  age address
0   1  masuda   55   tokyo
1   2  tanaka   40   tokyo

In [12]:
import pandas as pd

# Read the Excel file
df = pd.read_excel('./sample.xlsx', sheet_name='Sheet1')

# name でソート
df = df.sort_values('name')
print(df)

   id     name  age   address
4   5      aoi   10  hokkaido
0   1   masuda   55     tokyo
2   3     sato   30     osaka
1   2   tanaka   40     tokyo
3   4  yoshida   20     osaka